apiVersion: v1
kind: Namespace
metadata:
  name: compliai
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-db
  namespace: compliai
type: Opaque
stringData:
  POSTGRES_PASSWORD: secretpass
  POSTGRES_USER: postgres
  POSTGRES_HOST: db-svc.compliai.svc.cluster.local
  POSTGRES_PORT: "5432"
  POSTGRES_DATASE: postgres
---
apiVersion: v1
kind: Secret
metadata:
  name: qdrant
  namespace: compliai
type: Opaque
stringData:
  QDRANT_URL: http://qdrant-svc.compliai.svc.cluster.local:6333
---
apiVersion: v1
kind: Secret
metadata:
  name: langchain
  namespace: compliai
type: Opaque
stringData:
  LANGCHAIN_TRACING_V2: "false"
  LANGCHAIN_ENDPOINT: https://api.smith.langchain.com
  LANGCHAIN_API_KEY: ASD
  OPENAI_API_KEY: DSA
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: compliai-db-deployment
  namespace: compliai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: postgres
        image: postgres:latest
        resources:
          limits:
            memory: 1Gi
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
               name: postgres-db
               key: POSTGRES_PASSWORD
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: compliai-qdrant-deployment
  namespace: compliai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qdrant
  template:
    metadata:
      labels:
        app: qdrant
    spec:
      containers:
      - name: qdrant
        image: qdrant/qdrant
        resources:
          limits:
            memory: 1Gi
        ports:
        - containerPort: 6333
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: compliai-api-deployment
  namespace: compliai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: devcst/compliai:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: VECTORDB
          value: QDRANT
        - name: RECREATE_DB
          value: "0"
        - name: PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION
          value: python
        - name: OPENAI_API_KEY
          valueFrom:
            secretKeyRef:
              name: langchain
              key: OPENAI_API_KEY
        - name: QDRANT_URL
          valueFrom:
            secretKeyRef:
              name: qdrant
              key: QDRANT_URL
        - name: LANGCHAIN_TRACING_V2
          valueFrom:
            secretKeyRef:
              name: langchain
              key: LANGCHAIN_TRACING_V2
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-db
              key: POSTGRES_PASSWORD
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
               name: postgres-db
               key: POSTGRES_USER
        - name: POSTGRES_HOST
          valueFrom:
            secretKeyRef:
               name: postgres-db
               key: POSTGRES_HOST
        - name: POSTGRES_PORT
          valueFrom:
            secretKeyRef:
               name: postgres-db
               key: POSTGRES_PORT
        - name: POSTGRES_DATASE
          valueFrom:
            secretKeyRef:
               name: postgres-db
               key: POSTGRES_DATASE
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: compliai-webchat-deployment
  namespace: compliai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: webchat
        image: devcst/compliaiweb:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
        - name: NUXT_PUBLIC_BASE_URL
          value: http://backend-svc.compliai.svc.cluster.local:8082
---
apiVersion: v1
kind: Service
metadata:
  name: qdrant-svc
  namespace: compliai
spec:
  selector:
    app: qdrant
  ports:
    - port: 6333
      targetPort: 6333
      name: qdrant
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: db-svc
  namespace: compliai
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
      name: database
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: api-svc
  namespace: compliai
spec:
  selector:
    app: api
  ports:
    - port: 8082
      targetPort: 8080
      name: backend
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: compliai
spec:
  selector:
    app: frontend
  ports:
    - port: 8081
      targetPort: 3000
      name: frontend
  type: ClusterIP
---
kind: Service
apiVersion: v1
metadata:
  name: nsi-external-svc
  namespace: default
spec:
  type: ExternalName
  externalName: compliai-svc.compliai.svc.cluster.local